.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  
}

.header-image{
    background-image: url("https://media1.giphy.com/media/3ohhwESi9BLJqW7J1C/giphy.gif?cid=3640f6095bbf3da06169657a51f9eb8c");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
// https://media.giphy.com/media/ymiKd7838laww/200.gif
.margin3{
    margin:1%;
}

.is-myself{
    width: 50%;
}

.menu-list a {
    padding: 0em 0.75em;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .navbar{
      background-color:#fafafa;
  }

 #navbarMenuHeroA{
    background-color:white;
    .active{
       background-color:#ff8aff;
       color:white;
       
    }
 }

 @media screen and (min-width: 1088px){
     .navbar a.navbar-item:hover{
        background-color:#7dffff;
        color:black;
     }

 }