.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  
}


.menu-list a {
    padding: 0em 0.75em;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}