.tabcontent {
    display: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  
}

.header-image-desktop{
    background-color: rgb(255, 255, 255);
}
// https://media.giphy.com/media/ymiKd7838laww/200.gif
.margin3{
    margin:1%;
}

.is-myself{
    width: 50%;
}

.menu-list a {
    padding: 0em 0.75em;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  .navbar{
      background-color:#fafafa;
  }

 #navbarMenuHeroA{
    background-color:white;
    .active{
       background-color:#ff8aff;
       color:white;
       
    }
 }

 @media screen and (min-width: 1088px){
     .navbar a.navbar-item:hover{
        background-color:#7dffff;
        color:black;
        
     }

 }

 